<h1>Welcome to Ruby community. You have successfully registered to your Rails club account</h1>
<%= render template: "home/user_details" %>
<%= link_to "Sign out", destroy_user_session_path, :method => :delete %>